* {
  box-sizing: border-box;
  margin: 0;
}

/*  --- Body --- */

body {
  margin: 0;
  padding: 0;
  background-color: rgb(217, 215, 210);
}

/*  --- App --- */

.App {
  text-align: center;
}

.heart-placeholder {
  width: 200px;
  opacity: 50%;
  padding-top: 100px;
}

/*  --- Header --- */

.Header {
  font-family: "Courier New", Courier, monospace;
  /* background-color: #b3e4eb; */
  background-image: linear-gradient(60deg, #689297, #b3e4eb);
  color: #134f56;
  height: 130px;
  text-align: center;
  box-shadow: 0px 8px 10px grey;
  padding-top: 10px;
  margin-bottom: 20px;
}


.header-title {
  padding-top: 20px;
  text-shadow: 0px 5px 5px grey;
  margin: auto;
  font-size: 30px;
  max-width: 600px;
  position: relative;
}

.header-title:before {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  margin-top: 7px;
  background: #134f5687;
  left: 0;
  top: 50%;
  position: absolute;
}
 
.header-title:after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  margin-top: 7px;
  background: #134f5687;
  right: 0;
  top: 50%;
  position: absolute;
} 



/*  --- Nav --- */

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 10px;
}

.nav-memories {
  /* margin-right: 40px; */
  cursor: pointer;
  text-shadow: 0px 5px 5px grey;
  width: 220px;
  /* margin: auto; */
  max-width: 500px;
  position: relative;
}

.nav-memories:before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #134f5687;
  left: 0;
  top: 50%;
  position: absolute;
}

.nav-memories:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #134f5687;
  right: 0;
  top: 50%;
  position: absolute;
}

.nav-memories:hover {
  color: #038da5;
}

.nav-memories-clicked {
  color: #026a8d;
  /* margin-right: 40px; */
  cursor: pointer;
  text-shadow: 0px 5px 5px grey;
  width: 220px;
  /* margin: auto; */
  max-width: 500px;
  position: relative;
}

.nav-memories-clicked:before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #134f5687;
  left: 0;
  top: 50%;
  position: absolute;
}

.nav-memories-clicked:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #134f5687;
  right: 0;
  top: 50%;
  position: absolute;
}

.nav-getaways {
  /* margin-left: 40px; */
  cursor: pointer;
  text-shadow: 0px 5px 5px grey;
  width: 220px;
  /* margin: auto; */
  max-width: 500px;
  position: relative;
}

.nav-getaways:hover {
  color: #038da5;
}

.nav-getaways:before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #134f5687;
  left: 0;
  top: 50%;
  position: absolute;
}

.nav-getaways:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #134f5687;
  right: 0;
  top: 50%;
  position: absolute;
}

.nav-getaways-clicked {
  color: #026a8d;
  /* margin-left: 40px; */
  cursor: pointer;
  text-shadow: 0px 5px 5px grey;
  width: 220px;
  /* margin: auto; */
  max-width: 500px;
  position: relative;
}

.nav-getaways-clicked:before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #134f5687;
  left: 0;
  top: 50%;
  position: absolute;
}

.nav-getaways-clicked:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #134f5687;
  right: 0;
  top: 50%;
  position: absolute;
}

/*  --- Image Journal --- */

.image-journal {
  font-family: "Courier New", Courier, monospace;
  height: 500px;
  color: rgba(12, 11, 6, 0.61);
  background-image: linear-gradient(
    80deg,
    rgb(173, 137, 103),
    rgb(250, 241, 228)
  );
  box-shadow: 0px 8px 10px grey;
  justify-content: center; 
}


.image-journal-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.image-journal-icon {
  margin: 0px 20px 0px 20px;
}

.image-journal-icon-left {
  margin: 0px 40px 0px 20px;
}

.image-journal-icon-right {
  margin: 0px 20px 0px 40px;
}

.image-journal-title {
  color: rgba(12, 11, 6, 0.61);
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid rgba(12, 11, 6, 0.61);
}

/* .image-journal-title:before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin-top: 7px;
  background: rgba(12, 11, 6, 0.61);
  left: 0;
  top: 50%;
  position: absolute;
}

.image-journal-title:after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin-top: 7px;
  background: rgba(12, 11, 6, 0.61);
  right: 0;
  top: 50%;
  position: absolute;
} */

/*  --- Slider --- */

.slider-container {
  height: 440px;
  width: var(--widths);
  position: relative;
  margin: auto;
  background-image: linear-gradient(
    80deg,
    rgb(173, 137, 103),
    rgb(250, 241, 228)
  );
}

/*  --- Slider-Memories --- */

/*  --- Slider-Getaways --- */

.Slider-Off {
  display: none;
}

/*  --- Slider-Content --- */

.Slider-Content {
  justify-content: center;
  height: 400px;
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slider-title {
  font-family: Papyrus;
  text-align: center;
  font-style: italic;
  margin-top: 10px;
  margin-left: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  animation: fadeIn linear 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.active {
  justify-content: center;
  display: block;
}

.inactive {
  display: none;
}

.slides {
  height: var(--heights);
  width: var(--widths);
  position: relative;
}

.slide-image {
  background-color: rgba(36, 35, 18, 0.897);
  border-style:initial;
  height: 300px;
  width: 600px;
  box-shadow: 0px 15px 15px grey;
  object-fit: contain;
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Slider-Content-Off {
  display: none;
}

/*  --- Arrows --- */

.Arrows {
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-top: -20px;
  padding-bottom: 40px;
}

.prev,
.next {
  cursor: pointer;
  z-index: 100;
  position: absolute;
  justify-content: center;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -3rem;
  font-size: 40px;
  font-weight: bold;
  border-radius: 5px 0px 0px 5px;
}

.prev:hover,
.next:hover {
  color: rgb(250, 235, 212);
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease-in;
}
.prev {
  margin-right: 700px;
  margin-top: 60px;
}
.next {
  margin-left: 700px;
  margin-top: 60px;
  border-radius: 0px 5px 5px 0px;
}

.Dots {
  width: 100%;
  position: absolute;
  display: flex;
  top: 85%;
  justify-content: center;
  z-index: 200;
  margin-top: 10px;
  animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dot {
  cursor: pointer;
  height: 0.7rem;
  width: 0.7rem;
  margin: 0px 3px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
}

.active-dot,
.dot:hover {
  background-color: rgba(46, 46, 46, 0.726);
}

/*  --- Footer --- */

.Footer {
  font-family: "Courier New", Courier, monospace;
  margin-top: 20px;
  padding-bottom: 20px;
   /* background-color: #b3e4eb; */
  background-image: linear-gradient(60deg, #689297, #b3e4eb);
  box-shadow: 0px 5px 10px grey;
  height: 100px;
  line-height: 100px;
}

.footer-text {
  color: #0d4047;
  box-shadow: 0px 8px 10px grey;
  font-weight: bold;
}
